<template>
    <b-container fluid="sm">
        <b-form @submit.prevent="shortUrl" autocomplete="off">
            <b-form-group
                id="input-group-1"
                label="Url:"
                label-for="input-1"
                description="Enter url that should be shortened"
            >
                <b-form-input
                    id="input-1"
                    v-model="url"
                    :state="hasError"
                    placeholder="Enter url"
                    required
                ></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
        <b-card v-if="shortenedUrl" class="mt-3" header="Shortened url">
            <pre class="m-0">
                <b-link :href="shortenedUrl" class="float-left">{{ shortenedUrl }}</b-link>
            </pre>
        </b-card>
    </b-container>
</template>
<script>
import Vue from 'vue';

export default {
    data() {
        return {
            url: '',
            shortenedUrl: '',
            hasError: null
        }
    },
    methods: {
        shortUrl() {
            this.hasError = null;

            Vue.axios.post('/urls', {
                url: this.url
            })
            .then(data => {
                this.shortenedUrl = data.data.short_url;
            })
            .catch(() => {
                this.hasError = false;
            });
        }
    }
}
</script>
