<template>
    <span v-if="notFound">Url not found</span>
</template>
<script>
import Vue from 'vue';

export default {
    data() {
        return {
            notFound: false,
        }
    },
    methods: {
        redirectToFullUrl() {
            Vue.axios.get('/urls/' + this.$route.params.hash)
                .then(data => {
                    if (data.data.url) {
                        window.location.href = data.data.url;
                    } else {
                        this.notFound = true;
                    }
                })
                .catch(() => {
                    this.notFound = true;
                });
        },
    },
    created() {
        this.redirectToFullUrl();
    }
}
</script>
